<footer class="site-footer">
			<div class="footer-container">
    			<div class="footer-col">
      				<div class="logo"><a href="/"><img src="{{ url_for('static', filename='images/Uga_logo.png') }}"></a></div>
      				<p>Your trusted partner in healthcare solutions.</p>
    			</div>
    			<div class="footer-col">
      				<h6></h6>
      				<ul class="footer-links inline">
      				</ul>
    			</div>
    			<div class="footer-col">
      				<h6>Contact Us</h6>
      				<p>부산광역시 동래구 안남로 78-3 (더 평안빌딩 2층)., Seoul, Korea</p>
      				<p>E: ugamedical@naver.com</p>
      				<p>T: 051-522-3969</p>
    			</div>
  			</div>
  			<hr>
  			<div class="footer-bottom">
    			<p class="copyright-text">© 2025 UGA MEDICAL. All Rights Reserved.</p>
  			</div>
		</footer>